<a href="https://colab.research.google.com/github/imeldakafitri022805/program-pertama/blob/main/perulangan_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
listkota = [
    'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo',
    'Jakarta', 'Semarang', 'Makassar'
]

for kota in listkota:
  print(kota)

Jakarta
Surabaya
Depok
Bekasi
Solo
Jakarta
Semarang
Makassar

In [3]:
#urutan iterasi for dengan list
listkota = [
    'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo',
    'Jakarta', 'Semarang', 'Makassar'
]

for i, kota in enumerate(listkota):
  print(i, kota)

0 Jakarta
1 Surabaya
2 Depok
3 Bekasi
4 Solo
5 Jakarta
6 Semarang
7 Makassar

In [4]:
#for dengan fungsi rangel()
## 0 sampai 4
for i in range(5):
  print("perulangan ke -", i)

perulangan ke - 0
perulangan ke - 1
perulangan ke - 2
perulangan ke - 3
perulangan ke - 4

In [5]:
#range dari selain 0
## 10 sampai 15
for i in range(10, 16):
  print('i -', i)

i - 10
i - 11
i - 12
i - 13
i - 14
i - 15

In [6]:
## bilangan genap kelipatan 2
for i in range(2, 12, 2):
  print('i =', i)

i = 2
i = 4
i = 6
i = 8
i = 10

In [7]:
## bilangan ganjil kelipatan 2
for bilangan_ganjil in range(1, 12, 2):
  print(bilangan_ganjil)

1
3
5
7
9
11

In [8]:
## for dengan tuple

tupleBuah = ('Mangga', 'Jeruk', 'Apel', 'Pepaya')

for buah in tupleBuah:
  print(buah)

Mangga
Jeruk
Apel
Pepaya

In [10]:
## string pun bersifat iterable, hingga bisa jadi objek perulangan.

for karakter in "indonesiaID":
  print(karakter)

i
n
d
o
n
e
s
i
a
I
D

In [11]:
## break dan continue
for i in range(10, 20):
  # skip jika i == 15
  if (i == 15):
    continue

  print(i)

10
11
12
13
14
16
17
18
19

In [12]:
for i in range(10, 20):
  # hentikan jika i == 15
  if (i == 15):
    break

  print(i)

10
11
12
13
14

In [13]:
## for else
listkota = [
    'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo',
    'Jakarta', 'Semarang', 'Makassar'
]

for kota in listkota:
  print(kota)
else:
  print('Tidak ada lagi yang tersisa')

Jakarta
Surabaya
Depok
Bekasi
Solo
Jakarta
Semarang
Makassar
Tidak ada lagi yang tersisa

In [14]:
## for else + break
listkota = [
    'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo',
    'Jakarta', 'Semarang', 'Makassar'
]

KotaYangDicari = input('Ketik nama kota yang kamu cari: ')

for i, kota in enumerate(listkota):
  ## kita ubah katanya ke lowercase agar
  ## menjadi case insensitive
  if kota.lower() == KotaYangDicari.lower():
    print('Kota yang anda cari berada pada indeks', i)
    break
else:
  print('Maaf, kota yang anda cari tidak ada')

Ketik nama kota yang kamu cari: solo
Kota yang anda cari berada pada indeks 4

In [15]:
## for else + break
listkota = [
    'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo',
    'Jakarta', 'Semarang', 'Makassar'
]

KotaYangDicari = input('Ketik nama kota yang kamu cari: ')

for i, kota in enumerate(listkota):
  ## kita ubah katanya ke lowercase agar
  ## menjadi case insensitive
  if kota.lower() == KotaYangDicari.lower():
    print('Kota yang anda cari berada pada indeks', i)
    break
else:
  print('Maaf, kota yang anda cari tidak ada')

Ketik nama kota yang kamu cari: pontianak
Maaf, kota yang anda cari tidak ada